body,
html {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 50px;
}
section {
  margin-bottom: 80px;
}
.top-banner {
  background-image: url(images/donation13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 85%;
}
.banner-part {
  text-align: center;
  width: 55%;
  padding: 50px 250px;
}
.banner-part h1 {
  color: #fff;
  font-size: 50px;
}
.banner-part p {
  color: #f4f4f4;
}
.donate-button {
  text-decoration: none;
  padding: 10px 20px;
  background-color: orangered;
  color: #fff;
  border-radius: 5px;
}
/*End top banner part*/
.donate-today-toppart {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.donate-today-middlepart {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.donate-amount {
  background-color: #ddd;
  width: 50px;
  height: 50px;
  padding: 30px 30px 15px 15px;
  margin-left: 8px;
  margin-right: 8px;
  font-weight: bold;
  font-size: 25px;
  border-radius: 5px;
}
#donate-amount-two {
  background-color: #ffe6e8;
  width: 50px;
  height: 50px;
  padding: 30px 30px 15px 15px;
  margin-left: 8px;
  margin-right: 8px;
  border: 2px solid tomato;
  border-radius: 5px;
  color: tomato;
  font-weight: bold;
  font-size: 25px;
}
.donate-tody-bootompart {
  text-align: center;
}
.donate-tody-bootompart input {
  width: 62%;
  margin-top: 50px;
  text-align: center;
  border: none;
  border-bottom: 1px solid silver;
  outline: none;
  background-color: transparent;
  padding-bottom: 8px;
  margin-bottom: 30px;
}
/*End donate today section*/

.donate-plan-top {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.donate-plan-bottom {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.donate-plan-bottom-one {
  background-color: #dbf9db;
  margin-left: 8px;
  margin-right: 8px;
  width: 18%;
  padding: 30px 30px 0px 15px;
}
.donate-plan-bottom img {
  width: 40px;
  height: 30px;
}
#donate-plan-bg-one {
  background-color: #dbf9db;
}
#donate-plan-bg-two {
  background-color: #ffe6e8;
}
#donate-plan-bg-three {
  background-color: #fff9e3;
}
/*End donate plan section*/

.footer-top {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
#footer-top-one {
  background-color: #fff9e3;
  padding: 60px 0px;
  margin-top: 40px;
  margin-bottom: 80px;
}
#footer-top-email {
  padding: 8px;
  background-color: #ddd;
  border: none;
  outline: none;
  border-radius: 3px;
}
#submit-button {
  padding: 8px;
  background-color: tomato;
  color: #fff;
  border-radius: 2px;
  outline: none;
  border: none;
  width: 90px;
}
/*End footer top section*/

.main-footer {
  text-align: center;
  color: #fff;
  padding: 20px;
}
.main-footer h3 {
  color: tomato;
}
#footer-bg {
  background-color: #000;
}
/*End footer section*/

.contact-top-part {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.contact-top-part h2 {
  color: #2d4263;
  font-size: 60px;
  font-weight: bold;
}
.contact-top-part p {
  color: #30475e;
  font-size: 20px;
}
.contact-bottom-part {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.contact-bottom-part h3 {
  text-align: center;
}
.contact-bottom-part p {
  text-align: center;
  color: #53bf9d;
  font-size: 18px;
  font-weight: bold;
}
.contact-style-part {
  background-color: #eeeeee;
  margin-left: 8px;
  margin-right: 8px;
  width: 18%;
  padding: 30px 30px 0px 15px;
}
.contact-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #53bf9d;
  margin-left: 80px;
}
.contact-image img {
  width: 25px;
  padding: 30px 0px 0px 27px;
}
